/* MAIN */

/* field */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    row-gap: 3rem;
    width: 100%;
}
.form__title{
    text-align: center;
    font-family: "gilroy";
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
}
.form__field{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    width: 100%;
}
.form__field__data{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    column-gap: 3rem;
    row-gap: 2.5rem;
}
.form__field__data__name, .form__field__data__email, .form__field__content{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    color: #bfbfbf;
}

/* Input */
textarea {
    outline:none;
    border: none;
    resize: none;
    font-family: "montserrat";
    color: black;
    width: 100%;
    padding: 0.4rem;
    height: 9rem;
    width: calc(100% - 0.8rem);
}
input {
    outline: none;
    border: none;
    font-family: "montserrat";
    background-color: white;
    color: black;
    height: 1.5rem;
    padding: 0.2rem;
    width: 100%;
    width: calc(100% - 0.8rem);
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
input[type="submit"] {
    all: unset;
    position: relative;
    background-color: transparent;
    border: solid 2px white; 
    padding: 1rem;
    padding-left: 1.2rem; 
    font-family: "gilroy";
    font-size: 1rem;
    letter-spacing: 0.3rem;
    color: white;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    z-index: 2;
}

/* Submit button */
.submit_button:hover input[type="submit"] {
    color: black;
}
.submit_button {
    position: relative;
}
.submit_button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s;
    background-color: white;
    z-index: 1;
}
.submit_button:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


/* TABLET */

@media screen and (min-width: 35rem)
{
    form {
        max-width: 30rem;
        row-gap: 4rem;
    }
    .form__title {
        font-size: 2rem;
        line-height: 1.5rem;
    }
    .form__field__data{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}