/* BASICS */

body {
    padding-bottom: 5rem;
}


/* MAIN */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    width: 100%;
}
.field {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    width: 100%;
}
.field__info {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    column-gap: 3rem;
    row-gap: 2.5rem;
}
.title_contact {
    text-align: center;
    font-family: "gilroy";
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
}
.name, .email, .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    color: #bfbfbf;
}

    /* Input */

    input, textarea{
        background-color: white;
        font-family: "montserrat";
        color: black;
        border: transparent;
        outline: none;
        width: calc(100% - 0.8rem);
        padding: 0.2rem;
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
    input {
        height: 1.5rem;
    }
    input[type="submit"] {
        all: unset;
        border: solid white 2px;
        background-color: transparent;
        font-family: "gilroy";
        letter-spacing: 0.3rem;
        padding: 1rem;
        padding-left: 1.3rem;
        margin-top: 1.5rem;
        cursor: pointer;
    }
    textarea {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        height: 9rem;
    }


@media screen and (min-width: 35rem)
{
    body {
        padding-bottom: 12rem;
    }
    form {
        max-width: 30rem;
        row-gap: 4rem;
    }
    .field__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .title_contact {
        font-size: 2rem;
    }
}