/* MAIN */

.home {
    display: flex;
    flex-direction: column;
    max-width: 34rem;
    row-gap: 2rem;
}
.home__hi {
    font-family: "hammersmith";
    font-size: 5rem;
    color: white;
    line-height: 4rem;
    padding-bottom: 0.8rem;
    user-select: none;
}
.home__main_text {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    row-gap: 1.6rem;
}
.home__link {
    user-select: none;
}


/* TABLET */ 

@media screen and (min-width: 35rem)
{
    .home {
        row-gap: 4rem;
    }
}


/* PC */

@media screen and (min-width: 65rem)
{
    .home {
        text-align: center;
    }
}