/* BASICS */

body {
    box-sizing: border-box;
    padding: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    place-items: center;

}


/* MAIN */

    /* Menu */

    .menu_mobile {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        top: 3rem;
        right: 3rem;

    }
    .menu_computer {
        position: absolute;
        display: none;
        column-gap: 3rem;
        top: 3rem;
        right: 3rem;
    }

    /* Home */

    .home {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        max-width: 34rem;
    }
    .home__hi {
        font-family: "hammersmith";
        font-size: 5rem;
        color: white;
    }
    .home__welcome {
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }


@media screen and (min-width: 35rem)
{
    body {
        padding: 6rem;
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
    .menu_mobile {
        top: 6rem;
        right: 6rem;
    }
}


@media screen and (min-width: 65rem)
{
    body {
        padding: 6rem;
    }
    .menu_mobile {
        display: none;
    }
    .menu_computer {
        display: flex;
        top: 3rem;
        right: 3rem;
    }
    .home {
        text-align: center;
    }
}